/*
This page was initially designed while doing a course on Web Development in Udemy. However,
instead of copying Angela's Tin Dog concept, I decided to use my own images
and just build an adopt a cat application page that would fit in with the overall site.
Unlike the other pages on this site, this site has its own distinct layout as it is an application,
which justifies it looking different. 

[1] Dr. Angela. Yu, 'The Complete 2020 Web Development Bootcamp', 2020. [Online]. Available:
https://www.udemy.com/course/the-complete-web-development-bootcamp/?referralCode=F2958B9D9447BDFC8244. [Accessed: 23- Aug- 2020]

A lot of the colours came from:

[9] Color Hunt, "Color Hunt", 2020. [Online]. Available:
https://colorhunt.co/ [Accessed: 20-August-2020]

The link to the images used on this site can be found on Resources.md
*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #c3aed6;
  font-size: 16px;
}

/* header styling */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  line-height: 1.5;
  color: #59405c;
}

/* h2 is smaller than h1 */
h2 {
  font-size: 18px;
}

/*
Background colour the bootstrap navigation bar
has been customised
*/
.navbar-custom {
  background-color: #c3aed6;
}

/*
  image styling so that each image has its
  own, unique look
*/
#header_tabby {
  width: 20%;
  height: auto;
  border-radius: 35%;
  float: left;
}

#proud-ginger {
  width: 10%;
  height: 10%;
  border-radius: 30%;
  float: left;
}

.logo {
  width: 10%;
  height: auto;
  border-radius: 40%;
}

#kittens {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

/*
  individual section styling which
  enables each section to have a different colour
*/
#nav_main {
  background-color: #b0cac7;
  text-align: justify;
  padding: 5% 5%;
}

#intro {
  background-color: #a2d5f2;
  text-align: justify;
  padding: 5% 5%;
}

#about {
  background-color: #f7d6bf;
  text-align: justify;
  padding: 5% 5%;
}

#adopted-cats {
  background-color: #318fb5;
  text-align: left;
  text-align: justify;
  padding: 5% 5%;
}

#charities {
  background-color: #93b5e1;
  text-align: justify;
  padding: 5% 5%;
}

#sign_up {
  background-color: #ffd5cd;
  text-align: justify;
  padding: 5% 5%;
}

#footer {
  background-color: #efbbcf;
  text-align: center;
}

/*
  paragraph styling
*/
p {
  display: inline;
  font-style: normal;
}

/*
  navigation styling
*/
.navbar-brand {
  font-family: sans-serif;
  font-style: italic;
}

/*
  button styling
*/
.btn {
  margin-top: 10px;
}

/* resize button styling which displays
 the increase / decrease buttons in a specific way
*/
.resize {
  margin-left: 10px;
  margin-top: 5px;
  background-color: #fcdab7;
  color: #133b5c;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
}

/*
  footer styling to
  give the footer its own distinct look
*/
#footer {
  margin-top: 5px;
  font-size: 10px;
  font-family: sans-serif;
  font-style: oblique;
}

/*
 media query
*/
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  /*
    Layout is changed when the screen size is smaller
  */
  body {
    background-color: #e8ded2;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
  }