/*
  The source that taught me how to make a look page in a certain way was the 5 Day Coding Challenge
  by Code Insitute; however, I modified a lot of what they taught and put my own spin on things, because
  I did not like what they were designing or how their final product looked.

  [2] Code Institute, '5 Day Coding Challenge', 2020. [Online]. Available:
  https://codeinstitute.net/5-day-coding-challenge/?sitelink=5-Day-Coding-Challenge&&ads_cmpid=1578649861&ads_adid=62188641080&ads_matchtype=b&ads_network=g&ads_creative=417883010331&utm_term=%2Bcode%20%2Binstitute&ads_targetid=kwd-319867642491&utm_source=google&utm_medium=cpc&gclid=EAIaIQobChMIndqG7PWv6wIVEevtCh097wE2EAAYASABEgI71fD_BwE&gclsrc=aw.dsL.
  [Accessed: 28-Aug-2020]

*/
/*
general element styling
*/
body {
  font-family: 'BioRhyme', serif;
  background-color: azure;
  width: 50%;
  text-align: center;
}

ol, ul, li, p {
  color: black;
  text-align: left;
}

h1 {
  font-size: 300%;
  color: darkcyan;
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Cabin', sans-serif;
}

h2 {
  color: lightseagreen;
  text-transform: uppercase;
  font-weight: 80%;
  font-family: 'Montserrat', sans-serif;
}

/*
  container position
*/
#container {
  width: 60%;
  margin: auto;
}

/*
  image styling
*/
img {
  width: 50%;
  height: 50%;
  border-radius: 25%;
}

/*
  footer styling
*/
footer {
  margin-bottom: 0px;
  margin-right: 2px;
  background-color: aliceblue;
}

footer p {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: mediumturquoise;
}

/*
  media queries
*/
@media screen and (max-width: 768px) {
  #container {
    width: 90%;
  }

  h1 {
    font-size: 200%;
  }
}
